* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --bg-color: white;
    --color-text:black;
    --box-shadow: 2px 2px 2px 0 rgb(32,33,36,1),
                  -1px -1px 4px 0 rgb(32,33,36,1);
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--listado_colores);
}


.container {
    width: 30%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 6px 0 rgb(158, 6, 6),
                -2px -2px 4px 0 rgb(200, 20, 20 );
    border-radius: 1.5rem;
    text-align: center;
    color:red;
    padding: 1rem;
    background-color:black;
    
}

.txt_color
.CambioColor * {
    background-color: var(--listado_colores);
    box-shadow: var(--textColor);
    border-radius: 2rem;
    padding: .5rem 1rem;
}

.txt_color {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
}

.CambioColor * {
    outline: none;
    border-radius: 1rem;
    color: var(--textColor);
    cursor: pointer;
    margin: 1 5px;
    border-radius: 2rem;
}

@media screen and (max-width:750px) {
    .container {
        width: 90%;
    }
}